[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
nose = "*"

[packages]
leverj-ordersigner-daemon = {editable = true, path = "."}
twisted = "~=20.3"

[requires]
python_version = "3.8"
